<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Settings</h1>

        <form method="post">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Account
                settings</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Notification
                settings</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel " class="tab-pane in fade active" id="home">
              <div class="col-xs-12 col-sm-12 col-md-12 nopadding">
                <h2>Account settings</h2>
                <div class="col-md-3 nopadding">
                  <label>Name<input type="text" value="<%= user.name %>" name="settings[name]" class="form-control"></label>
                  <label>E-mail <input type="text" value="<%= user.email %>" name="settings[email]" class="form-control"></label>
                </div>
                <div class="col-md-3 nopadding">
                  <label>Current password <input type="password" name="settings[oldpw]" class="form-control"></label>
                  <label>New password <input type="password" name="settings[newpw]" class="form-control"></label>
                  <label>new password (repeat)<input type="password" name="settings[newpwr]" class="form-control"> </label>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
              <h2>Notification settings</h2>

              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" name="notifications[email]" value="<%= user.email %>"
                  <% if(user.email === user.notificationSettings.email) { %>
                          checked="checked"
                  <% } %>

                  >E-mail
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="pushBullet"
                   <% if(user.notificationSettings.pushbullet !== "") { %>
                     checked="checked"
                  <% } %> > Pushbullet<br/>

                  <div id="pushBulletSettings" style="display: none">
                    API Key: <input class="form-control" style="max-width: 200px;" type="text" value="<%= user.notificationSettings.pushbullet %>"
                                    name="notifications[pushbullet]" placeholder="Enter your Pushbullet api key">
                  </div>
                </label>
              </div>
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox" id="statusHub"
                          <% if(user.notificationSettings.statushub.apikey) { %>
                         checked="checked"
                          <% } %>
                          > Statushub<br/>

                  <div id="statusHubSettings" style="display: none">
                    Subdomains: <input class="form-control" style="max-width: 200px;" type="text"
                                       name="notifications[statushub][subdomains]"
                                       placeholder="Comma seperated list of subdomains">
                    API Key: <input class="form-control" style="max-width: 200px;" type="text"
                                    name="notifications[statushub][apikey]" placeholder="Enter your Pushbullet api key">
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    if($('#pushBullet').is(':checked')) {
      $('#pushBulletSettings').show();
    }
    if($('#statusHub').is(':checked')) {
      $('#pushBulletSettings').show();
    }

    $('#pushBullet').click(function () {
      if ($(this).is(':checked')) {
        $('#pushBulletSettings').show();
      } else {
        $('#pushBulletSettings').hide();
      }
    });
    $('#statusHub').click(function () {
      if ($(this).is(':checked')) {
        $('#statusHubSettings').show();
      } else {
        $('#statusHubSettings').hide();
      }
    });
  });
</script>
